/* Navigation */ 
#navigation {	
	width: 288px;	
	height: 100%;
	
	float: left;
	position: fixed;
	
	color: white;
	background-color: #555;
	box-shadow: 0px 0px 10px #888888;
	
	font-size: 1.1em; 
}
	
#logo{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	color:white;
	font-size: 1.2em; 
 }

#logo img {
	display:block;
	margin:auto;
	max-width: 50%;
	max-height: 50%;
}

/*** Navigation Content ***/
#nav_content_container{
	box-shadow: 0px 0px 10px #888888;
	height: 100%;
}

#nav_content_menue {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #555;
}

#nav_content_menue li a {
	display: block;
	color: #ffffff;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 1.1em; 
}
#nav_content_menue li a.active {
	background-color: #ff3232;
	color: white;
}

/* Change the link color on hover */
#nav_content_menue li a:hover {
	background-color: #777;
	color: white;
}